@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Quantico&family=Roboto&display=swap');

body{
  margin: 0;
  padding: 0;
	background: url("https://res.cloudinary.com/brnl/image/upload/v1654692786/brnl/nl30_rzocuz.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: 'Josefin Sans', sans-serif;
	position: relative;

}

a{
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;

}


.navContainer{

	display: flex;
	padding-bottom: 20px;
	flex-wrap:wrap;
	margin: 0;
	align-items:center;
	justify-content: space-around;
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;

}


.advertiseContain{

 text-align: end;
	background-color: transparent;
	background-color: transparent;
 padding: 8px;
 border-radius: 5px;
 box-shadow: 04px 4px 12px rgb(0 0 0 / 42%);
 border: solid 2px rgba(128, 128, 128, 0.331);
 font-family: 'Quantico', sans-serif;

}

.advertiseContain:hover{
	background-color: #9b989830;
	cursor:pointer;
}

.logo{
width: 330px;
height: auto;
border: none;

}

.searchContainer{
	min-width: 300px;
	width: 33%;
	
}


.searchInput{
	background-color: rgba(255, 255, 255, 0.53);

  width: 90%;
  border-radius: 18px;
	box-shadow: 04px 4px 12px rgb(0 0 0 / 42%);
	border: solid 2px rgba(128, 128, 128, 0.331);
  text-align: center;
  padding: 15px 10px;
  font-weight: 550;
	font-family: 'Josefin Sans', sans-serif;
}


/* button */
.advertiseBtn {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background-color:#007dc1;
	border-radius:8px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.advertiseBtn:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.advertiseBtn:active {
	position:relative;
	top:1px;
}

.h1div{
	margin: 50px auto;
	padding: 0 10px;
	font-size: 3rem;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	position: relative;

}
/* 
.word{
	display: inline-block;

}

.word span{
	position: absolute;
	top: 0;
	overflow: hidden;
	animation: animate 10s linear infinite;
	opacity: 0;

}
@keyframes animate {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}
	2% {
		opacity: 1;
		transform: translateY(0px);
	}
	18% {
		opacity: 1;
		transform: translateY(0px);
	}
	20% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 0;
		transform: translateY(-50px);
	}
}
.word span:nth-child(1){
	animation-delay: 0s;
}

.word span:nth-child(2){
	animation-delay: 2s;
}
.word span:nth-child(3){
	animation-delay: 4s;
}
.word span:nth-child(4){
	animation-delay: 6s;
}
.word span:nth-child(5){
	animation-delay: 8s;
}
.word span:nth-child(6){
	animation-delay: 10s;
} */
/* Category Section */

.categorySection{
	background-color: rgba(255, 255, 255, 0.53);
	width: fit-content;
	min-height: 200px;
	justify-content: center;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	align-items: center;
	box-shadow: 0 4px 12px rgb(0 0 0 / 12%);
	margin-bottom: 2rem;
}

.categoryBox {
	border-radius: 50%;
	margin: 20px;
	background-color: rgba(97, 99, 97, 0.135);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 130px;
	height: 130px;
	box-shadow: 0 2px 17px 0 #181717;
	transition: transform .5s;
	padding: 10px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(60%);

}

.categoryBox:hover{
	transform: scale(1.1);
	filter: none;
	-webkit-filter: grayscale(0%);
}

.categoryIcon{
	width: 60%;
}

.categoryImg {
	width: 100%;

}


.categoryName{
	text-align: center;
	font-size: 1.3rem;
	font-weight: 600;

	margin-top: 10px;

}


/* ############## SINGLE PRODUCT ############ */

.card {
	display: flex;
	justify-content: space-between;
	box-shadow: 0 15px 30px 1px grey;
	text-align: center;
	border-radius: 5px;
	margin: 1em auto;
	height: 300px;
	width: 90%;
	

}

.cardImageContain{
	transition: all 0.3s ease-out;
	overflow: hidden;
	height: 100%;
	max-width: 49%;
}

.cardInfo{
	width: 49%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.cardImage{
	width: 250px;
	height: 100%;
	object-fit:contain;
	border-radius: 50%;
	
}



.cardName {
	font-size: 2rem;
	font-weight: 600;

}

.cardDescription{
	padding: 5px;
	height: 60%;
	text-align: center;
	word-wrap: break-word;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cardCity{
	font-size: 1.3rem;
}

ul {
	list-style-type: none;


}



.brandDescription ul {
	list-style-type:none;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;


}

.brandDescription li{
	padding: 3px;
	margin: 3px;
	background-color: #9b989830;
}



.singleCardPhone, .singleCardWebsite, .singleCardCity{
	margin: 1px;
	font-size: 1rem;
	border-top: 1px solid rgba(128, 128, 128, 0.445);
	width: 80%;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.singleCardInfo a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;

}

.hashtag{
	padding: 0 5px;
	font-size: 20px;
	font-size: 1.2rem;
}
.singleCardCity{
	margin-bottom: 10px;
}

.byCategoryContainer{
	border: 1em solid rgba(128, 128, 128, 0.445);
	box-shadow: 0 15px 30px 1px grey;
	width: 95%;
	margin: auto;
	padding: 20px ;
}
	
	.singleProductContainer{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 90%;
		margin: auto;
		padding: 20px 0;
		border: 1em solid rgba(128, 128, 128, 0.445);
		box-shadow: 0 15px 30px 1px grey;
		

	}


	.singleCard{
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		margin: 20px;
		width: 300px;
		height: 400px;
		box-shadow: 0 15px 30px 1px grey;
		overflow: hidden;
			
	}

	.sinceCardImage{
		width: 300px;
		height: 200px;
	 	object-fit:contain;

	}
	.singleCardName{
		width: 100%;
		font-size: 1.5rem;
		font-weight: 600;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	.singleCardDescription {
		height: 50%;
		display: flex;
		flex-wrap:wrap;
		align-items: flex-start;
		overflow:scroll;

	}

	.singleCardDescription::-webkit-scrollbar {
		display: none;
	}

	.singleCardDescription ul{
		list-style-type:none;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: stretch;
		overflow:hidden;

	}
	
	.singleCardDescription li{
		padding: 3px;
		margin: 3px;
		background-color: #9b989830;

	}


	.singleCardInfo {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.singleCardImageContain{
		
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}

	.titleContainer {
		font-size: 4rem;
		display: flex;
		margin: 1rem 2rem;
		border-top: 2px solid rgba(128, 128, 128, 0.445);;
		padding: 5px 0;

	}

	.categoryTitle{
		width: 60%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 3rem;
	}

	.backNav{
		width: 20%;
		text-decoration: none;

	}

	.backBtn{
		width: 50px;
	}

	.categoryLogo{
		width: 80px;
	}

	.icon{
		width: 40px;
		margin-right: 10px;
	}


	



/* 
	########################  PRODUCT DETAILS ##########

 */

	.brandContainer {
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		justify-content:center;
		align-items: center;
		padding: 20px 0;
		border: 1em solid rgba(128, 128, 128, 0.445);
		box-shadow: 0 15px 30px 1px grey;
		overflow: hidden;
		width: 80%;
	
	}

	.brandLogo{
		width: 420px;
		height: 400px;
	 	object-fit:contain;

	}

	.brandInfo{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
		width: 40%;
	}

	.brandPhone, .brandWebsite, .brandCity, .brandDescription{
		
		padding: 10px 10px;
		font-size: 1rem;
		border-top: 1px solid rgba(128, 128, 128, 0.445);
		width: 80%;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		
	}



	.brandName{
		width: 100%;
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
	}

.secondaryTitle{
	margin: 3rem 15px 0;
	font-size: 3rem;
}



.noResults{
	display: flex;
	justify-content: center;
	margin: 30px 0 0 0;

}

.noResultSpan{
	font-size: 3rem;
	color: rgba(128, 128, 128, 0.68);
}

.noResultsHome{
	display: flex;
	justify-content: center;
	align-items: center	;
	margin: 30px 0 0 0;
	height: 400px;
}

/* 
<section className="brandContainer">
<form className="advertiseForm">
	<div className="advertiseTitle">Texto aqui</div>
	<div className="advertiseSubtitle">
		este form enviara seu produto para analise para ser adicionado ao
		site
	</div>

	<label className="">Name</label>
	<input type="text" name="nameIpt" className="nameIpt"></input>
	<label className="">Phone</label>
	<input type="text" name="phoneIpt" className="phoneIpt"></input>
	<label className="">City</label>
	<input type="text" name="cityIpt" className="cityIpt"></input>
	<label className="">Website</label>
	<input type="text" name="websiteIpt" className="websiteIpt"></input>
	<label className="">Category</label>
	<input type="file" name="categoryIpt" className="categoryIpt"></input>
	<label className="">Description</label>
	<input
		type="text"
		name="descriptionIpt"
		className="descriptionIpt"
	></input>
	<label className="">Logo</label>
	<input type="text" name="logoIpt" className="logoIpt"></input> */

	.noResultsCategory{
		height: 333px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.advertiseForm{
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	.advertiseTitle{
		font-size: 2rem;
	}
	
	.advertiseForm div{
		margin: 15px 0;
		display: flex;
		flex-direction: column;

	}

	.custom-file-input {
		background-color: transparent!important;
		border: none!important;
		font-weight: 500!important;
		font-family: 'Josefin Sans', sans-serif;
	}

	.advertiseForm input{
		margin-bottom: 10px;
		padding: 5px;
		width: 90%;
		border: solid 0.5px gray;
		border-radius: 8px;
		background-color: rgba(255, 255, 255, 0.532);
		font-weight: 600;
	}





	.custom-file-input::-webkit-file-upload-button {
		visibility: hidden;
	}



	.custom-file-input::before {

		content: 'Upload your logo';
		display: inline;
		color: black;
		background: -webkit-linear-gradient(top, #f9f9f9be, #e3e3e3);
		border: 0.5px solid #999;
		border-radius: 3px;
		padding: 5px 8px;
		outline: none;
		white-space: nowrap;
		cursor: pointer;
		text-shadow: 1px 1px #fff;
		font-weight: 700;
		font-size: 10pt;
	}

	.custom-file-input:active {
		outline: 0;
	}



	.formSubmitContainer{
		display: flex;
		flex-direction: row!important;
		justify-content:flex-start!important;
		align-items: center!important;
	}
	
	.formBtn{
		font-family: 'Josefin Sans', sans-serif;
		padding: 8px 0!important;
		width: 50%;
		margin: 15px 0;
		border-radius: 5;
		color: black;
		background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
		border: 1px solid #999;
		border-radius: 3px;
		padding: 5px 8px;
		outline: none;
		white-space: nowrap;
		cursor: pointer;
		text-shadow: 1px 1px #fff;
		font-weight: 700;
		font-size: 10pt;
	}
